body{
	background-color:#f9f9f9;
}
p{
	color: #848484;
}
h1, .jumbotron h1, .jumbotron p, .navbar-default .navbar-brand {
	color:#f26c4f;
}

/* ----- Navigation ----*/
.navbar {
	margin-bottom: 0px;
}

.btn-custom{
	background-color: #f26c4f;
	color:#fff;
	border-radius: 0px;
}
.btn-custom:hover{
	color:#fff;
	background-color:#ce583e;
}